#container {
	width: 80%;
	margin: 0 auto;
	border: 1px solid green;
	font-weight: bold;
}
header {
	height: 150px;
	border: 1px solid green;
}
header .logo {
	height: 100px;
	width: 30%;
	float: left;
	border: 1px solid green;
	text-align: center;
	line-height: 100px;
}
header .banner {
	height: 100px;
	width: 69.4%;
	float: left;
	border: 1px solid green;
	text-align: center;
	line-height: 100px;
}
header .menu {
	clear: both;
	height: 48px;
	border: 1px solid green;
	background: pink;
}
#main {
	height: 500px;
}
.main1-left {
	width: 49.5%;
	height: 200px;
	border: 1px solid green;
	float: left;
	text-align: center;
	line-height: 200px;
}
.main1-right {
	float: left;
	width: 49.9%;
	border: 1px solid green;
	height: 200px;
}
.main1-right-content{
	border: 1px solid green;
	height: 65px;
	text-align: center;
	line-height: 65px;
}
.main2-left{
	float: left;
	width: 65%;
	border: 1px solid green;
	height: 296px;
}
.main2-left-content{
	border: 1px solid green;
	height: 72px;
	text-align: center;
	line-height: 72px;
}
.main2-right{
	float: left;
	width: 34.4%;
	border: 1px solid green;
	height: 296px;
}
.main2-right-content{
	background: #FF6700;
	border: 1px solid green;
	height: 97x;
	text-align: center;
	line-height: 97px;
}
footer{
	background: #D6298A;
	height: 100px;
	border: 1px solid green;
}
footer .f1{
	height: 100px;
	width: 30%;
	float: left;
	border: 1px solid green;
	text-align: center;
	line-height: 100px;
}
footer .f2{
	height: 100px;
	width: 69.4%;
	float: left;
	border: 1px solid green;
	text-align: center;
	line-height: 100px;
}
p{
	text-align: center;
	line-height: normal;
}